@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap');

$text1:'Lilita One';
$text2:'Poppins', sans-serif;
$first:rgb(255, 252, 252);
$second:black;
$third: rgb(175,195,185);
$fourth:white;
