@import './colors.scss';

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    position: sticky;
    padding: 1rem 0.75rem;
    top: 0;
    z-index: 9999;
    // border: 1px solid red;
    background-color: rgba(175,195,185, 0.75);
    
    backdrop-filter: blurr(4px);
    
    >h1{
        font-family: 'Lilita One';
        font-size: 2.5rem;
        color: $first;
        letter-spacing: .10rem;
      text-shadow:2px 3px 8px $second;
    
      
    

    }

    .bars{
       
      display: none;

    }
    main{
        height: 50%;
        align-items: center;
        display: flex;
        justify-content: space-around;
        // border: 1px solid black;
        width: 50%;
        // background-color: antiquewhite;  
        font-family: $text2;
        color: $fourth;
       
        font-weight: 500;

        p{
            cursor: pointer;
            font-size: 1.35rem;
            &:hover{
          color: rgb(219, 140, 43);
            }
        }
    }
    .icons{
        color: $first;
        
       
    }
   
}