@import './colors.scss';
// @import '../assets/pic3.png';


.home{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;  
    align-items: center;
    // border: 1px solid red;
    

    main{

        height: 90vh;
        // border: 1px solid black;
       
        width: 50%;
        margin: 5rem 0 0 5rem;
        display: flex;
        flex-direction: column;
        position: relative;

        div{
            // margin: 0 0 0 5rem;
            // border: 1px solid red;
height: 90%;
width: 80%;
            background-color: rgb(240, 239, 239);
            display: flex;
            flex-direction: column  ;
            justify-content: space-between;
        
       h1{
         font-family: 'Lilita One';
         text-align: center;
         padding: 1rem;
         letter-spacing: .05rem;
         word-spacing: .85rem;
         color: rgb(58, 58, 58);
         font-weight: 400;
         margin-top: 1rem;
        }
        p{
            width: 30%;
            // border: 1px solid red;
            height: 60%;
            margin: 0 0 5rem 3rem;
            font-family: $text2;
            font-style: italic;
            line-height: 2rem;
            text-align: center;
        }
    }
    
    img{
        width: 60%;
        height: 80%;
        position: absolute;
        bottom: 0;
  right: 0;
  z-index: 1;
    }
}
>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column  ;
    width: 40%;
    // border: 1px solid red;
    height: 55vh;
background: url('../assets/pic3.png');
background-repeat: no-repeat;
background-size: 80%;
background-position: 50%;



img{
    width: 20%;
   height: auto;
margin: 9rem 0 0 6rem;  
}
button{
    width: auto;
    padding:  .50rem 1rem;
    text-align: center  ;
    border-radius: 10px;
    border: none;
    font-family: $text2;
    font-weight: 700;
    
    box-shadow: 1px 1px 4px 1px rgb(133, 132, 132);
    &:hover{
        background-color: orange;
        color: white;
        cursor: pointer;
    }
}
}

}
.home2{
    display: flex;
    padding: 12rem 2rem 2rem 2rem;
    height: auto;
    width: 100%;
    align-items: center;
    // border: 1px solid red;
    justify-content: center;
    flex-direction: column;

    >h1{
        font: 600 3rem $text2;
        color: $first;
    text-shadow: 1px 1px 1px black;
    padding: 2rem;
    }
main{

    height: 90vh;
margin: 2rem;
    // border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    background-color: $first;
    border-radius: 10px;
    box-sizing: border-box;
    

    >h1{
        padding: 1rem;
        font: 700 2.5rem $text2;
        color:rgb(53, 52, 52) ;
    }
    >div{
        display: flex;
        width: 90%;
        height: 90%;
      
        justify-content: space-between;
        // border:1px solid green;
        align-items: center;
        
       img{
  
      height: 100%;
      padding: 2rem;
      margin-right: 1rem;
    }
    p{
        padding: 2rem;
        font: 400 1.25rem $text2;
        text-align: center;

        span{
            font: 500 1.75rem $text2;
            color:rgb(53, 52, 52) ;
        }
        
    }
}
}
}